


<br>

<section class="section section-featurebox" style="background-color: rgb(255, 255, 255);">
    <div class="container">
                    <!--+216 othmanbaligh26182433 T.G-->

        <div class="section-header text-center">
            <h2> <strong>Nos Produits</strong> </h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <div class="blog-image">
                            <a routerLink="canape/CanapeModel"><img class="img-fluid" src="assets/img/13.png" alt="Post Image"></a>
                        </div>                        <h4>Canapé</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="assets/img/28 ombre.png" alt="Post Image"></a>
                        </div>                        <h4>Fauteille</h4>
                    </div>
                </div>
                            <!--+216 othmanbaligh26182433 T.G-->

                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="assets/img/sal 1.png" alt="Post Image"></a>
                        </div>                        <h4>Salon De Coin</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <div class="blog-image">
                            <a href="./chambers/chambersModel"><img class="img-fluid" src="assets/img/lit royale.png" alt="Post Image"></a>
                        </div>                        <h4>Chambers A Coucher</h4>
                    </div>
                </div>
                            <!--+216 othmanbaligh26182433 T.G-->

                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <div class="blog-image">
                            <a href="./consoles/consolesModel"><img class="img-fluid" src="assets/img/a.png" alt="Post Image"></a>
                        </div>                        <h4>Consoles Et Accessoires</h4>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>




