            <!--+216 othmanbaligh26182433 T.G-->

<header class="header">
                <!--+216 othmanbaligh26182433 T.G-->

    <div class="nav-bg" style="background-color:#0d6efd">
        <nav class="navbar navbar-expand-lg header-nav nav-transparent header-nav-one">
            <div class="navbar-header">

                <a id="mobile_btn" href="javascript:void(0);">

                    <span class="bar-icon blue-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="" class="navbar-brand logo">
                    <img src="assets/img/lylyq-logo.png" class="img-fluid" style="max-width:250px " alt="Logo">
                </a>

            </div>
            <!-- <ul >
                <h2 class="aa" style="color:rgb(96, 82, 97)"><i>Furniture</i></h2>
                  
              </ul>-->
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="" class="menu-logo">
                        <img src="assets/img/lylyq-logo.png" class="img-fluid" alt="Logo">

                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>

                </div>


                <ul class="main-nav black-font">


                    <li class="has-submenu "> <a routerLink="">{{'HOME' | translate }}
                        </a>

                    </li>
                    <li class="has-submenu"><a>
                            {{'Products' | translate }}

                            <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a routerLink="./canape">{{"CANA" | translate }}
                                </a>
                            </li>
                            <li><a routerLink="./fauteile">{{"faute" | translate }}</a>
                            </li>
                            <li><a routerLink="./salloncoin">{{"SALON" | translate }}
                                </a>
                            </li>
                            <li><a routerLink="./salloncanapee"> {{"SALONCANAPE" | translate }}
                                </a>
                            </li>
                            <li><a routerLink="./chambres">{{"CHAMBER" | translate }}
                                </a>
                            </li>

                            <li class="has-submenu"><a>{{"CONSOLE" | translate }}

                                </a>
                                <ul class="submenu">
                                    <li><a routerLink="./consoleModerne"> consoles Modernes
                                        </a>
                                    </li>
                                    <li><a routerLink="./consoleTraditional">consoles Classiques
                                        </a>
                                    </li>
                                    <li><a routerLink="./table">tables</a>
                                    </li>
                                    <li><a routerLink="./poufs">poufs
                                        </a>
                                    </li>

                                    <li><a routerLink="./chaiseLon">chaise-longue
                                        </a>
                                    </li>
                                    <!-- <li><a routerLink="">éetagaire chausure
                                        </a>
                                    </li>
                                    <li><a routerLink="">MIx
                                        </a>
                                    </li>
                                     <li><a routerLink="./porte">porte-monteau
                                        </a>
                                    </li>-->

                                </ul>
                            </li>


                        </ul>
                    </li>
                    <li class="has-submenu"><a routerLink="./about">{{'ABOUT' | translate }}
                        </a>

                    </li>
                    <li class="has-submenu"><a routerLink="./contact">{{'contact' | translate }}
                        </a>

                    </li>

                    <li class="has-submenu">

                        <a>{{'LANG' | translate }}
                            <i class="fas fa-chevron-down"></i></a>


                        <ul class="submenu">
                            <li><a (click)="translate.use('en')">Anglais
                                </a>
                            </li>
                            <li><a (click)="translate.use('ar')">Francais
                                </a>
                            </li>


                        </ul>


                    </li>







                    <ul style="margin-block-start: 32px;" class="nav header-navbar-rht right-menu">
                        <!--  <li class="nav-item" *ngIf="!isLogged">
                            <a class="nav-link login-blue-bg" routerLink="./login">Sign
                                In</a>
                        </li>-->
                        <li class="nav-item" *ngIf="!isLogged">
                            <a routerLink="./login"><i class="fa fa-sign-in" style="font-size:30px"></i></a>
                        </li>
                        <!--  <li class="nav-item" *ngIf="!isLogged">
                            <a class="nav-link signup-white-bg" routerLink="./register">Sign
                                Up</a>
                        </li>-->

                        <li style="margin-block-start: 10px;"
                            *ngIf="isLogged &&( isAdmin || isMemberN1 || isMemberN2 || isMemberN3)">
                            <a routerLink="profil/donnes/">
                                <i class="fas fa-user-injured"></i>
                                <span>Mon profil</span>

                            </a>

                        </li>
                        <li class="nav-item" *ngIf="isLogged &&(isAdmin || isSUPERADMIN)">
                            <a class="nav-link signup-white-bg" routerLink="./admin">Adminestration</a>
                        </li>

                    </ul>

                </ul>
            </div>
        </nav>
    </div>
</header>
            <!--+216 othmanbaligh26182433 T.G-->
