<footer class="footer footer-one">
            <!--+216 othmanbaligh26182433 T.G-->

    <div class="footer-top aos aos-init aos-animate" data-aos="fade-up" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/lylyq-logo.png" width="270" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>{{'P FOOTER' | translate}}   </p><div class="social-icon">
                              
                            </div>
                        </div>
                    </div>

                </div>
             
                <div class="col-lg-4 col-md-8">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">{{'T2 FOOTER' | translate}} </h2>
                       <strong><ul>
                            <li><a
                                    >Canada</a>
                            </li>
                            <li><a
                                    >Turquie</a>
                            </li>
                            <li><a
                                    >KSA</a>
                            </li>
                            <li><a
                                    >Tunis</a>
                            </li>
                           
                        </ul></strong> 
                    </div>

                </div>
                <div class="col-lg-4 col-md-8">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">{{'T3 FOOTER' | translate}} </h2>
                        <div class="footer-contact-info">
                            <div class="footer-address"><span><i class="feather-map-pin"></i></span>
                                <p>Bursa inegol Km 8 Huzur,
                                    <br>Mobiliyum, AVM CD.16400 Tr<br>
                                </p>
                            </div>
                            <p><i class="feather-phone"></i>
                                +90 224 713 20 01</p>
                            <p class="mb-0"><i class="feather-mail"></i>
                                info@lylyqcontinental.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                            <!--+216 othmanbaligh26182433 T.G-->

            </div>

        </div>
    </div>

</footer>
            <!--+216 othmanbaligh26182433 T.G-->
