
            <!--+216 othmanbaligh26182433 T.G-->

<div class="col-md-12">
    <h4 class="mb-4">Liste des Catégories
    <button style="position: absolute; right:30px;" class="btn-sm btn-dark submit-btn" routerLink="add">Ajouter une Catégorie</button></h4>
    <div class="appointment-tab"> 
        <div class="tab-content"> 
            <div class="tab-pane show active" id="upcoming-appointments">
                <div class="card card-table mb-0">
                    <div class="card-body">
                                    <!--+216 othmanbaligh26182433 T.G-->

                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Designation</th> 
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat of catgoriesList">
                                        <td>{{cat.id}}</td>
                                        <td>{{cat.designation}}</td> 
                                        <td class="text-end">
                                            <div class="table-action"> 

                                                <button [routerLink]="['edit', cat.id]"
                                                    class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-edit"></i></button>

                                                    
                                               <button (click)="deleteCategorie(cat.id)"
                                                class="btn btn-sm bg-danger-light">
                                                <i class="fas fa-trash"></i> </button>

                                               

                                            </div> 
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>             <!--+216 othmanbaligh26182433 T.G-->
