
<br>
<br>
            <!--+216 othmanbaligh26182433 T.G-->

<div class="col-md-12 col-lg-8" style="margin-left: 100px;">
   
<div class="card" >
    <div class="card-body pt-0" >
<br>
            <!--+216 othmanbaligh26182433 T.G-->

   <!--  <nav class="user-tabs mb-4">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#doc_overview" data-bs-toggle="tab">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doc_locations" data-bs-toggle="tab">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">Business Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">Business Hours</a>
                </li>
            </ul>
        </nav>-->


        <div class="tab-content pt-0">
            <h3 class="mb-4" style="color:#0d6efd"> <strong>{{ "D P121" | translate}} <img src="assets/img/lylyq-.png"
                style="max-width:80px ;"> {{ "D P112" | translate}}</strong></h3>
            <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
                <div class="row">

                    <div class="col-md-12 col-lg-12">
                        <div class="widget about-widget">
                            <h4 class="widget-title"> </h4>
                           <!-- <p> <strong>{{ "D P121" | translate}}</strong></p>-->
                            <p> <strong>{{ "D P11" | translate}}</strong></p>
                            <p> <strong>{{ "D P111" | translate}}</strong></p>


                        </div>


                        <div class="widget education-widget">
                            <h4 class="widget-title" style="color:#0d6efd"><strong> {{ "D T1" | translate}}</strong></h4>
                            <h5>{{ "D T11" | translate}}</h5>
                            <br>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST11" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST12" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST13" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="widget experience-widget">
                            <h4 class="widget-title" style="color:#0d6efd"><strong>{{ "D T2" | translate}}</strong></h4>
                            <h5>{{ "D T12" | translate}}</h5>
                            <br>

                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST21" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST22" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST23" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ "D ST24" | translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="widget experience-widget">
                            <h4 class="widget-title" style="color:#0d6efd"><strong>{{ "D T3" | translate}}</strong></h4>
                            <h5>{{ "D T13" | translate}}<img src="assets/img/lylyq-.png"
                                style="max-width:60px ;">{{ "D T133" | translate}}</h5>
                            <br>

                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{"D ST31"| translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{"D ST32"| translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{"D ST33"| translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{"D ST34"| translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{"D ST35"| translate}}</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
                   <!--+216 othmanbaligh26182433 T.G-->

      <!--  <button  style="margin-left:250px" type="button" class="btn btn-rounded btn-success" routerLink="../register">join us</button>-->
    </div>
    <div class="wrap">
        <button class="button"  routerLink="../register">join us</button>
      </div>
      <br>
      <br>
    
</div>

</div>
            <!--+216 othmanbaligh26182433 T.G-->





















                        <!--+216 othmanbaligh26182433 T.G-->
