<section class="about-sectio" >
    <!--+216 othmanbaligh26182433 T.G-->
    <div class="container">
        <div class="row" >
            <div class="col-lg-9 col-md-12" >
                <div class="tab-content pt-0">

                    <div role="tabpanel"  style="margin-left: 180px;"  >
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
        
                                <div class="widget about-widget">
                                    <br>
                                    <h3 class="mb-4" style="color:#0d6efd"> <strong> Company Profile</strong></h3>

                                    <h4 class="widget-title"> </h4>
                                    <p> <strong><img src="assets/img/lylyq-.png"
                                        style="max-width:60px ;">{{ "about P1" | translate}}<img src="assets/img/lylyq-.png"style="max-width:60px ;">
                                        {{ "about P1.1" | translate}}</strong></p>
                                    <p> <strong><img src="assets/img/lylyq-.png"
                                        style="max-width:60px ;">{{ "about P2" | translate}}</strong></p>
                                    <p> <strong>{{ "about P3" | translate}}<img src="assets/img/lylyq-.png"style="max-width:60px ;">
                                        {{ "about P3.1" | translate}} </strong></p>

                                </div>
                                <div class="widget education-widget">
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div  class="timeline-content">
                                                        <a  class="name">{{ "about T1" | translate}}<img src="assets/img/lylyq-.png"style="max-width:60px ;">
                                                            {{ "about T1.1" | translate}} </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a  class="name">{{ "about T2" | translate}}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a  class="name"><img src="assets/img/lylyq-.png"style="max-width:60px ;">{{ "about T22" | translate}}</a>
                                                        <br>
                                                        <br>
                                                        <div class="widget education-widget">
                                                            <div class="experience-box">
                                                                <ul class="experience-list">
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                <a  class="name">{{ "about T221" | translate}}</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                <a  class="name">{{ "about T222" | translate}}</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                <a  class="name">{{ "about T223" | translate}}</a>
                                                                               
                                                                                
                                                                               
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="experience-user">
                                                                            <div class="before-circle"></div>
                                                                        </div>
                                                                        <div class="experience-content">
                                                                            <div class="timeline-content">
                                                                                <a  class="name">{{ "about T224" | translate}}</a>
                                                                               
                                                                                
                                                                               
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                   
                                                                      
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                           
                                              
                                        </ul>
                                    </div>
                                </div>
                               <!-- <p> <strong>{{ "about P4" | translate}}</strong></p><br>-->

                                <p> <strong>{{ "about P5" | translate}}<img src="assets/img/lylyq-.png"style="max-width:60px ;">
                                    {{ "about P5.1" | translate}} </strong></p>
                               <a href=""> <p style="color:#2a4e85" > <strong><img src="assets/img/lylyq-.png"
                                style="max-width:60px ;">{{ "about P6" | translate}}</strong></p></a>
                                <h4 style="color:#0d6efd"> <strong><img src="assets/img/lylyq-.png"
                                    style="max-width:70px ;">{{ "about P7" | translate}}</strong></h4>
                                <h5> <strong>{{ "about P8" | translate}}</strong></h5>
                                <div class="widget education-widget">
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a class="name">{{ "about P9" | translate}}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a  class="name">{{ "about P10" | translate}}</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a  class="name">{{ "about T11" | translate}}</a>
                                                    </div>
                                                </div>
                                            </li>
                                           
                                              
                                        </ul>
                                    </div>
                                </div>       
                                <p> <strong><img src="assets/img/lylyq-.png"
                                    style="max-width:60px ;">{{ "about P12" | translate}}<img src="assets/img/lylyq-.png"style="max-width:60px ;">
                                    {{ "about P12.1" | translate}}</strong></p>
                                <div class="experience-box">
                                    <ul class="experience-list">
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T3" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T4" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a class="name">{{ "about T5" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T6" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a class="name">{{ "about T7" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a class="name">{{ "about T8" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T9" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T10" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T11" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a  class="name">{{ "about T12" | translate}}</a>
                                                </div>
                                            </div>
                                        </li>

                                       
                                          
                                    </ul>
                                </div><br>

                                <p> <strong>{{ "about P13" | translate}}</strong></p><br>




                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            
        </div>
    </div>
</section>







    <!--+216 othmanbaligh26182433 T.G-->

























    
