<br>            <!--+216 othmanbaligh26182433 T.G-->

<br>
  <br>
  <div class="container" style="margin-left: 290px;">
    <h3 class="display-6" style="margin-left: 140px;"><strong><b><i> {{'T PRODUIT' | translate }} </i></b> </strong></h3>
    <h4 class="display-6" style="margin-left: -160px; "><strong><em> {{'T1 PRODUIT' | translate }} </em> </strong></h4>

</div>

<br>
<br>
<br>
            <!--+216 othmanbaligh26182433 T.G-->

  <!-- Section: Images -->
  <section class="" >
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" >
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light" style="background-color: rgb(216, 229, 236);"
        >
        <a href="assets/img/consoles/console 1/a.png" class="fancybox" data-fancybox="gallerya1">
          <img
            src="assets/img/consoles/console 1/a.png"
            class="w-100"
          /></a>
          <a href="assets/img/consoles/console 1/a.png" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
          <p>-----------</p>
        </div>
      </div>
    </div>
  </section>            <!--+216 othmanbaligh26182433 T.G-->
