            <!--+216 othmanbaligh26182433 T.G-->

<div class="main-wrapper">
 
  <div class="home-one-banner">

    <div class="bg-shapes">
                <!--+216 othmanbaligh26182433 T.G-->

      <!-- <img src="assets/img/shapes/shape-7.png" class="shape-03 aos aos-init aos-animate" alt="img"
              data-aos="zoom-out">-->
      <img src="assets/img/shapes/shape-8.png" class="shape-04 aos aos-init aos-animate"   data-aos="fade-left">
    </div>
    
   
    <div class="container">
      
      <app-header></app-header>
      
    
      <router-outlet></router-outlet>
     

   
    </div>
  </div>
  <app-footer></app-footer>
              <!--+216 othmanbaligh26182433 T.G-->
