            <!--+216 othmanbaligh26182433 T.G-->

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">

                    <form [formGroup]="registerForm" (ngSubmit)="editProfil()">
                        <div class="row form-row">
                            
            <!--+216 othmanbaligh26182433 T.G-->

                            
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Veuillez saisir votre nouveau  Mot de passe.</label>
                                    <input type="password" class="form-control" formControlName="password"
                                        >
                                    <div
                                        *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                                        <span class="error">Veuillez saisir votre nouveau  Mot de passe.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button type="submit" [disabled]="registerForm.invalid"
                                class="btn btn-primary submit-btn">Sauvegarder</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

            <!--+216 othmanbaligh26182433 T.G-->
