
            <!--+216 othmanbaligh26182433 T.G-->
 <div class="content" style="background-color: rgb(255, 255, 255); margin-block-start: 25px; margin-block-end: 25px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/forget.jpg" class="img-fluid" alt="Doccure Login">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Recuperation Mot de passe</h3>
                            </div>
                            <form [formGroup]="forgetForm" (ngSubmit)="getPassword()">
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" formControlName="email">
                                    <label class="focus-label">E-mail</label>
                                    <div *ngIf="email!.invalid && email!.touched">
                                        <p *ngIf="email?.errors?.['required']" class="error">Veuillez saisir votre E-mail</p>
                                        <p *ngIf="email?.errors?.['pattern']" class="error">E-mail Invalide</p>
                                    </div>
                                </div>   
                                <button [disabled]="forgetForm.invalid" class="btn btn-primary w-100 btn-lg login-btn"
                                    type="submit">Confirmer</button>  
                            </form>
                        </div>
                    </div>
                </div>
            <!--+216 othmanbaligh26182433 T.G-->

            </div>
        </div>
    </div>
</div>




            <!--+216 othmanbaligh26182433 T.G-->
