<div class="col-md-12">            <!--+216 othmanbaligh26182433 T.G-->

    <h4 class="mb-4">Ajout d'un Produit</h4>
    <div class="appointment-tab">
        <div class="tab-content">
            <div class="tab-pane show active" id="upcoming-appointments">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="addForm" (ngSubmit)="add()">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Titre</label>
                                        <input type="text" class="form-control" formControlName="title">
                                        <div
                                            *ngIf="addForm.get('title')!.invalid && (addForm.get('title')!.dirty || addForm.get('title')!.touched)">
                                            <span class="error">Veuillez saisir le Titre.</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Source</label>
                                        <input type="text" ngModel="assets/img/accesoire/consoles/Nom.png" class="form-control"
                                            formControlName="source">
                                        <div
                                            *ngIf="addForm.get('source')!.invalid && (addForm.get('source')!.dirty || addForm.get('source')!.touched)">
                                            <span class="error">Veuillez saisir la source.</span>
                                        </div>
                                    </div>
                                </div>            <!--+216 othmanbaligh26182433 T.G-->




                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Categorie</label>
                                        <select class="form-select form-control" formControlName="categorie">
                                            <option *ngFor="let c of categList" [value]="c.id">{{c.designation}}
                                            </option>
                                        </select>
                                        <div
                                            *ngIf="addForm.get('categorie')!.invalid && (addForm.get('categorie')!.dirty || addForm.get('categorie')!.touched)">
                                            <span class="error">Veuillez choisir le Catégorie.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="submit-section">
                                <button [disabled]="addForm.invalid" type="submit"
                                    class="btn btn-primary submit-btn">Valider</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>            <!--+216 othmanbaligh26182433 T.G-->
