
    <!--+216 othmanbaligh26182433 T.G-->




<div class="row">
    <div style="margin-left: 5px;" class="col-lg-6 col-md-16 banner-left aos aos-init aos-animate" data-aos="fade-up">
        <a class="smooth-menu" >
            <div class="scroll-down">

                <div class="scroll-center">
                    <div class="scroll-mouse">
                        <div class="scroll-wheel"></div>
                    </div>
                    <div>
                        <span class="scroll-arrow-one"></span>
                    </div>
                    <div>
                        <span class="scroll-arrow-two"></span>
                    </div>
                </div>
            </div>
        </a>
        <div class="banner-info">
            <h2> <img src="assets/img/logolylyq/lylyq group.png" style="max-width:340px ;"></h2>
            <h3 style="color:#0d6efd"><span><strong>
                Ca nous fait plaisir que vous soyez membre parmis <img src="assets/img/lylyq-.png"
                    style="max-width:80px ;"> group
                pour béneficier de nos offres </strong></span></h3>
        </div>
        <div class="banner-details">
            <h4><img src="assets/img/logolylyq/lylyq continental.png" style="max-width:150px ;" class="me-2" alt="">Modeling &
                Furniture manufactuer</h4>
                <h4><img src="assets/img/lylyqhome.png" style="max-width:150px ;"> Showroom <span
                    > & </span> Deco-Styling </h4>
                    <h4><img src="assets/img/logolylyq/lylyq branding.png" style="max-width:150px ;"> Uniformes <span
                        >  </span>Styling</h4>
                <h4><img src="assets/img/logolylyq/lylyq marketing.png" style="max-width:150px ;"> Projects<span
                       > & </span>Legume trade </h4>
                <h4><img src="assets/img/logolylyq/lylyq cyber.png" style="max-width:150px ;"> Programing Web<span
                       > & </span>Development </h4>

        </div>


     <div class="banner-details">
         <!--   <h4> <img src="assets/img/logolylyq/lylygroup tc.png" style="max-width:240px ;"> <br><strong>
                    Ca nous fait plaisir que vous soyez membre parmis <img src="assets/img/lylyq-.png"
                        style="max-width:80px ;"> group
                    pour béneficier de nos offres </strong></h4>
            <br>
            <h4 href="">-<img src="assets/img/logolylyq/lylyq continental.png" style="max-width:150px ;"> : Modeling
                <span style="color:rgb(255, 0, 43);"> & </span> Furniture manufactuer
            </h4>
            <h4>- <img src="assets/img/lylyqhome.png" style="max-width:150px ;"> : Showroom <span
                    style="color:rgb(255, 0, 43);"> & </span> Deco-Styling </h4>
            <h4>- <img src="assets/img/logolylyq/lylyq branding.png" style="max-width:150px ;"> : Styling <span
                    style="color:rgb(255, 0, 43);"> & </span>Uniformes</h4>
            <h4>-<img src="assets/img/logolylyq/lylyq marketing.png" style="max-width:150px ;"> : Ind-Projects<span
                    style="color:rgb(255, 0, 43);"> & </span>Legume trade </h4>
            <h4>-<img src="assets/img/logolylyq/lylyq cyber.png" style="max-width:150px ;"> : Programing Web<span
                    style="color:rgb(255, 0, 43);"> & </span>Development </h4>--> 
                   <!-- <marquee behavior="alternate"><h4><img src="assets/img/lylyq-.png" style="max-width:100px ;" class="me-2" alt="">
                        be a member<img src="assets/img/lylyq-.png" style="max-width:100px ;" class="me-2" alt=""></h4></marquee>
                   
                    <a href="membre"><h3  style="color:rgb(255, 0, 43);"><strong> <marquee behavior="alternate">
                        <img src="assets/img/lylyq-.png"
                        style="max-width:80px ;"> be a member<img src="assets/img/lylyq-.png"
                        style="max-width:80px ;">
                     </marquee></strong></h3></a>-->

        </div>
        <div class="banner-details">
            <p> </p>
        </div>
    </div>

   

    <div class="col-lg-5 col-md-12 aos aos-init aos-animate" data-aos="fade-up">

      

        <div>
            <a href="./canape" >

                    <img  src="assets/img/conception/canape.png" 
                    style="max-width:160px;margin-block-start: 75px;margin-left: 105px;" 
                        >
            </a>
        </div>
        <div>
            <a href="./chambres" >

            
                <img  src="assets/img/conception/lit.png"  
                    style="max-width:160px;margin-left: -25px;margin-block-start: -55px;" 
                    alt="">
            </a>
        </div>
        <div>
            <a href="./fauteile" >
                <img  src="assets/img/conception/fauteil.png"  
                    style="max-width:160px;margin-left: -24px;margin-block-start: 12px;" 
                    alt="">
            </a>
        </div>
        <div>
            <a href="./consoleModerne" >
                <img  src="assets/img/conception/console.png"  
                    style="max-width:160px;margin-left: 105px;margin-block-start: -320px;" 
                    alt="">
            </a>
        </div>
        <div>
            <a href="./table" >
                <img  src="assets/img/conception/table.png"  
                    style="max-width:160px;margin-left: 105px;margin-block-start: -85px;" 
                    alt="">
            </a>
        </div>

        <div>
            <a href="./salloncoin" >
                <img  src="assets/img/conception/salon.png"  
                    style="max-width:160px;margin-left: 235px;margin-block-start: -320px;" 
                    alt="">
            </a>
        </div>

        <div>
            <a href="./chaiseLon" >

                <img  src="assets/img/conception/chaiseL.png"  
                    style="max-width:160px;margin-left: 235px;margin-block-start: -676px;" 
                    alt="">
            </a>
        </div>
       
        <div class="banner-info">
           <a href="membre"><h2  style="color:#0d6efd;"> <strong> <marquee behavior="alternate">
                <img src="assets/img/lylyq-.png"
                style="max-width:80px ;"> be a member<img src="assets/img/lylyq-.png"
                style="max-width:80px ;">
             </marquee></strong></h2></a>
        </div>
       

       
</div> 
<!--
<div class="wrap" style="margin-block-start: -220px;margin-left: 260px;">
    <button class="button"  routerLink="../register">join us</button>
</div>-->
    <!--+216 othmanbaligh26182433 T.G-->

<br>
<br>
<section id="produit" class="service-section">
    <div class="container aos aos-init aos-animate" data-aos="fade-up">
        <div class="section-header text-center aos aos-init aos-animate" data-aos="fade-up">
            <h2> <strong> {{'PRODUIT' | translate}}</strong> </h2>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/LES CANAPES/ELEGANT.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">
                                <!-- <div class="service-grid-icon">
                                    <img src="assets/img/icons/icon6.svg" class="img-fluid" alt="">
                                </div>-->
                                <p>{{"CANA" | translate }}</p>
                                <a href="./canape" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/CHAISES/ZADOV.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>{{"faute" | translate }}</p>
                                <a href="./fauteile" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/SALONS/SOFIA.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>{{"SALON" | translate }}</p>
                                <a href="./salloncoin" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/salon canape/MADOVA.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>{{"SALONCANAPE" | translate }}</p>
                                <a href="./salloncanapee" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/lit royale.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>{{"CHAMBER" | translate }}</p>
                                <a href="./chambres" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/accesoire/consoles/9.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>Console Moderne</p>
                                <a href="./consoleModerne" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/accesoire/consoles/1.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>Console Classique</p>
                                <a href="./consoleTraditional" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                <div class="service-grid">
                    <div class="effect-oscar">
                        <img src="assets/img/accesoire/tables/1.png" class="img-fluid services-img" alt="">
                        <div class="services-caption">
                            <div class="services-inner">

                                <p>tables</p>
                                <a href="./table" class="service-link">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
    <!--+216 othmanbaligh26182433 T.G-->




























        <!--+216 othmanbaligh26182433 T.G-->
